# Ignorar datos sensibles y archivos innecesarios
*.log
*.tmp
*.bak
*.swp
*.swo

# Mundos y datos del juego
/world/
/world_nether/
/world_the_end/
/versions/
/backups/
/cache/
/logs/
/plugins/dynmap/

# Archivos de sesión o temporales
*.pid
*.lock
*.jar
server.jar
.console_history
server-icon.png

# IDE/Editor
.idea/
.vscode/
*.iml

# Otros archivos que puedas añadir en el futuro
*.zip
*.tar
*.gz

