# Ignorar datos sensibles y archivos innecesarios
*.log
*.tmp
*.bak
*.swp
*.swo

# Mundos y datos del juego
/world/
/world_nether/
/world_the_end/
/versions/
/backups/
/cache/
/logs/

# Evitar almacenar IPs de Dynmap
plugins/dynmap/ids-by-ip.txt

# Archivos de sesión o temporales
*.pid
*.lock
*.jar
server.jar
.console_history
server-icon.png

# IDE/Editor
.idea/
.vscode/
*.iml

# Otros archivos que puedas añadir en el futuro
*.zip
*.tar
*.gz


# Essentials plugin data
plugins/Essentials/usermap.bin
plugins/Essentials/uuids.bin
plugins/Essentials/userdata/

# Bases de datos de LuckPerms
/plugins/LuckPerms/*.mv.db

# Archivos JSON de historial y cache
version_history.json
usercache.json

# Datos temporales de spark
plugins/spark/tmp-client/

# Datos sensibles de jugadores
banned-ips.json
banned-players.json
ops.json
whitelist.json

# Datos generados por Dynmap
plugins/dynmap/web/tiles/
plugins/dynmap/web/faces/
plugins/dynmap/web/standalone/
plugins/dynmap/world.pending

# Tareas temporales de Chunky
plugins/Chunky/tasks/
